.myBackground {
    background-color: pink;
    height: 100vh;
}

.form__submit .form-control::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.form__submit .submit__btn {
    background-color: #f5506e;
    cursor: pointer;
}

.editor__tool input {
    -webkit-appearance: none;
    appearance: none;
    overflow: hidden;
    height: 12px;
    background-color: #f5506e;
    background-size: 50% 100%;
    transition: all .3s;
}



.editor__tool input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 12px;
    width: 12px;
    background-color: gray;
}

.editor__tool input::-webkit-slider-runnable-track {
    appearance: none;
    -webkit-appearance: none;
}
 